main {
    input[type='submit'],
    button {
        border: none;
        display: flex;
        justify-content: center;
        padding: 20px;
    
        @include secondary-title(1rem);
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2%;
        align-self: center;
        border-radius: 5px;
    }

    input[type='submit'] {
        background-color: $main-detail-color;
        color: $lightest-color;
    }

    button {
        background-color: $lightest-color;
        color: $main-detail-color;
        border: 4px dotted $main-detail-color;
        margin-top: 2%;
    }

}

// SMALL SCREENS STYLES
@media (min-width: 992px) {
    main {
        input[type='submit'] {
            width: 50%;

        }

        input[type='submit'],
        button {
            @include secondary-title(1.4rem);
        }
    }
}