footer {
    background-color: $darkest-color;
    display: flex;
    color: $lightest-color;

    p {
        display: flex;
        justify-content: center;
        @include body-text(0.8rem, 1rem);
    }

// COPYLEFT SYMBOL
    span {
        transform: rotate(200grad);
        font-weight: bold;
        font-size: 1rem;
    }
}