// COLOR VARIABLES

$darkest-color: #2d0c03;
$lightest-color: #f4f6ec;
$main-detail-color: #ff436a;
$second-detail-color: #7d433e;
$light-detail-color: #fce5d5;
$border-right-answer: #7ac74f;

//FONT STYLES VARIABLES
@mixin brand-name($size-value) {
   font-family: 'Kaushan Script', cursive;
   font-size: $size-value;
}

@mixin secondary-title($size-value) {
    font-family: 'Ubuntu', sans-serif;
    font-size: $size-value;
    font-weight: bold;
}

@mixin body-text($size-value, $line-height) {
    font-family: 'Ubuntu', sans-serif;
    font-size: $size-value;
    line-height: $line-height;
}


// FONT ROOT STYLES
html {
    font-size: 125%;
}

//BODY BG
body {
    background-color: $light-detail-color;
}

// WRAPPER STYLES
.wrapper {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

input {
    outline: none;
}